* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
aside {
    width: 180px;
    height: calc(100vh - 80px);
    background-color: #040404;
    color: #b3b3b3;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
header {
    width: calc(100vw - 180px);
    height: 80px;
    background-color: #040404;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 180px;
    z-index: 666;
}
main {
    background-color: #121212;
    height: calc(100vh - 80px);
    padding: 80px 0 0 180px;
    overflow-y: auto;
}
/* aside */
.logo-top {
    margin-top: 30px;
    margin-left: 18px;
    color: white;
}
.logo-top i {
    font-size: 30px;
    margin-bottom: 20px;
}
.logo-top p {
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: inline-block;
}
menu {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
}
menu i {
    font-size: 20px;
}
menu p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: inline-block;
    margin-left: 8px;
}
.ms--logo {
    margin-top: 20px;
}
.ms--logo:hover {
    color: white;
    cursor: pointer;
}
.aggiungi-playlist {
    height: 30px;
    width: 30px;
    background-color: #b3b3b3;
    display: inline-block;
}
.aggiungi-playlist i {
    font-size: 25px;
    color: black;
    margin-left: 4px;
    margin-top: 3px;
}
.crea-playlist {
    margin: 20px 0;
}
.crea-playlist p {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}
.aggiungi-playlist:hover {
    background-color: white;
    cursor: pointer;
}
.crea-playlist:hover {
    color: white;
    cursor: pointer;
}
.playlist {
    margin-top: 20px;
}
.nome-playlist ul {
    list-style-type: none;
}
ul li {
    margin-top: 8px;
    margin-left: -9px;
}
ul p {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.play1:hover {
    color: white;
    cursor: pointer;
}
.play2:hover {
    color: white;
    cursor: pointer;
}
.play3:hover {
    color: white;
    cursor: pointer;
}
.play4:hover {
    color: white;
    cursor: pointer;
}
.download-icon {
    margin-left: 18px;
}
.download-icon span {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-left: 8px;
}
.linea-divisore {
    width: 160px;
    height: 2px;
    background-color: #b3b3b3;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 8px;
}
.account-pers {
    margin-bottom: 6px;
}
.account-logo {
    height: 30px;
    width: 30px;
    background-color: #b3b3b3;
    border-radius: 50%;
}
.account-logo i {
    font-size: 20px;
    color: white;
    margin-left: 6px;
    margin-top: 3px;
}
.nome-utente p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 5px;
    color: white;
}
.account-logo,.nome-utente {
    display: inline-block;
}
@media all and (max-width: 640px) {
    aside {
        width: 70px;
    }
    .logo-top p {
        display: none;
    }
    menu p {
        display: none;
    }
}
@media all and (max-width: 640px) {
    .aside-bottom {
        display: none;
    }
}
/* header*/
.header-btn {
    width: 210px;
    height: 36px;
    background-color: #0b0b0b;
    position: absolute; right: 10px; top: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.header-btn p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 34px;
    text-align: center;
}
.header-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
/* main */
/* navbar */
.navbar {
    display: flex;
    justify-content: center;
}
.ms--link {
    height: 50px;
    margin-top: 25px;
}
.rsp-s, .rsp-s-2 {
    display: flex;
    justify-content: center;
}
@media all and (max-width: 768px) {
    .rsp-s, .rsp-s-2 {
        display: block;
    }
}
.specific-link p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #b3b3b3;
    margin-right: 12px;
}
.yellow-line {
    width: 20px;
    height: 2px;
    background-color: #121212;
    text-align: center;
    margin-left: 26px;
}
.yellow-line2 {
    width: 20px;
    height: 2px;
    background-color: #121212;
    text-align: center;
    margin-left: 42px;
}
.yellow-line3 {
    width: 20px;
    height: 2px;
    background-color: #121212;
    text-align: center;
    margin-left: 15px;
}
.specific-link:hover {
    cursor: pointer;
}
.specific-link:hover .yellow-line {
    background-color: yellow;
}
.specific-link:hover .yellow-line2 {
    background-color: yellow;
}
.specific-link:hover .yellow-line3 {
    background-color: yellow;
}
/* main content */
.recently h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 15px;
}
.first-card {
    width: 160px;
    position: relative;
}
.first-card img {
    margin-left: 10px;
    width: 140px;
    height: 140px;
}
.overlay {
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
.first-card:hover .overlay {
    visibility: visible;
    cursor: pointer;
}
.fa-play-circle {
    font-size: 40px;
    position: absolute;
    top: 33%; left: 35%;
    color: white;
}
.first-card .artist-link {
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.first-card .sub-sub {
    text-align: center;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    color: #b3b3b3;
}
.artist-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.for-me h3 {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 15px;
}
.artist-cards-due {
    margin-top: 20px;
    display: flex;
}
.popular h3 {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 15px;
}
.popular p {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #b3b3b3;
    margin-left: 15px;
}
.artist-cards-tre {
    margin-top: 20px;
    display: flex;
}
.first-card-round {
    width: 160px;
    position: relative;
}
.first-card-round img {
    margin-left: 10px;
    width: 140px;
    height: 140px;
    border-radius: 70px;
}
.first-card-round .artist-link {
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.first-card-round .sub-sub {
    text-align: center;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    color: #b3b3b3;
}
.first-card-round:hover .overlay {
    visibility: visible;
    cursor: pointer;
}
/* footer */
footer {
    height: 80px;
    width: 100vw;
    background-color: #262626;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* sx */
.testament img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    display: inline-block;
}
.song-playing {
    display: inline-block;
    margin-left: 10px;
}
.song-playing p {
    margin-bottom: 10px;
}
.song-playing small {
    color: #b3b3b3;
}
.testament:hover img {
    cursor: pointer;
}
.song-playing:hover p {
    cursor: pointer;
}
@media all and (max-width: 992px) {
    .playing-now {
        display: none;
    }
}
/* cnt */
.player {
    display: inline;
    font-size: 22px;
    margin-right: 40px;
}
.player.play {
    border: 1px solid white;
    padding: 6px;
    border-radius: 50%;
}
.player.play i {
    padding-left: 10px;
}
.control-bar {
    text-align: center;
}
.progress-bar {
    width: 420px;
    height: 4px;
    background-color: #121212;
    margin-bottom: 2px;
    display: inline-block;
}
.bar-player {
    margin-top: 8px;
}
.bar-player p {
    display: inline;
    margin: 0 4px;
}
.player:hover {
    cursor: pointer;
    color: #b3b3b3;
}
/* right */
.ms--folder, .device, .volume-bar {
    display: inline-block;
}
.ms--folder, .device {
    margin-right: 18px;
}
.volume-bar {
    margin-right: 25px;
}
.vlm-bar-icon {
    display: inline-block;
}
.vlm-bar-bar {
    width: 100px;
    height: 4px;
    background-color: #b3b3b3;
    margin: 0 0 3px 4px;
    display: inline-block;
}
.ms--folder i {
    cursor: pointer;
    color: #b3b3b3;
}
.device i {
    cursor: pointer;
    color: #b3b3b3;
}
.vlm-bar-icon i {
    cursor: pointer;
    color: #b3b3b3;
}
.vlm-bar-bar {
    cursor: pointer;
    color: #b3b3b3;
}
.progress-bar:hover {
    cursor: pointer;
    color: #b3b3b3;
}
@media all and (max-width: 768px) {
    .volume {
        display: none;
    }
}

https://i.scdn.co/image/d2ee32cd210d22a19dece8956da265164dfe4573
